@media screen and (min-width: 1024px) {
    #header,
    #menubar,
    #button-wrapper,
    #filter {
        display: none;
    }
    #header-wrapper {
        width: 100%;
    }
    #header-wide {
        background-color: rgb(241, 241, 241);
        display: flex;
        height: 35px;
    }
    #logomenu-wrapper {
        margin: 5px 45px;
        margin-right: auto;
    }
    #converse {
        margin-left: 27px;
    }
    #textmenu-wrapper {
        margin-top: 2px;
        margin-right: 30px;
    }
    #textmenu {
        padding: 4px;
        font-weight: lighter;
        font-size: 0.7rem;
    }
    #header-wrapper-wide {
        display: flex;
        margin-bottom: 40px;
    }
    #logo {
        margin: 10px 35px;
    }
    #menubar-wide {
        margin: auto;
    }
    #menu {
        padding: 0px 10px;
    }
    #button-wrapper-wide {
        margin-right: 30px;
    }
    #searchbox {
        padding-left: 30px;
        margin: 10px 20px;
        width: 160px;
        height: 37px;
        border: none;
        border-radius: 20px;
        background-color: rgb(241, 241, 241);
        background-image: url("/imges/search.png");
        background-size: 20px;
        background-position: left;
        background-repeat: no-repeat;
    }
    #like,
    #cart {
        width: 23px;
        padding-top: 20px;
        padding-right: 10px;
    }
    #filterimg {
        margin-left: 10px;
        width: 15px;
        height: 15px;
    }
    #sort {
        margin-left: 20px;
    }
    #sortimg {
        width: 12px;
        margin: 0px 4px;
    }
    #category-nav {
        display: flex;
        margin-left: 35px;
    }
    #category-name {
        margin-right: auto;
        padding: 10px;
        width: 80%;
        font-size: 1.3rem;
    }
    #filter-wide {
        padding: 10px;
        margin-right: 30px;
    }
    #content {
        margin: 20px 10px;
        display: flex;
    }
    #sidebar {
        margin-left: 35px;
        width: 100%;
        overflow-y: scroll;
    }
    #sidebar::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
    }
    #sidebar::-webkit-scrollbar-thumb {
        height: 20%;
        width: 10px;
        background-color: gray;
        border-radius: 10px;
    }
    #sidebar::-webkit-scrollbar-track {
        background-color: transparent;
    }
    #sidebar-menu {
        list-style: none;
        margin-left: -36px;
        font-weight: lighter;
        margin-bottom: -18px;
    }
    #sidebar-menu-top {
        list-style: none;
        margin-left: -36px;
        margin-top: -10px;
    }
    input[type="checkbox"] {
        border: 1px solid #e5e5e5;
    }
    #sidebar-hr {
        margin-top: 10px;
        border: 0;
        height: 1px;
        background: #e5e5e5;
        width: 60%;
        float: left;
    }
    #body-wrapper {
        margin-left: 30px;
    }
    #products-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #product {
        padding: 5px;
        width: 32%;
        height: 30%;
    }
    #product-info-wrapper {
        padding: 0px 5px;
        margin-bottom: 60px;
    }
    #product-info-wrapper-wide {
        width: 70%;
    }
    #product-name {
        font-size: 1rem;
    }
    #product-tag {
        font-size: 1rem;
        color: gray;
    }
    #product-color {
        font-size: 1rem;
        color: gray;
    }

    #product-price-wrapper-wide {
        width: 35%;
        font-size: 1rem;
        float: right;
        text-align: right;
        margin-top: -70px;
    }
}
