body {
    overflow-x: hidden;
    margin: 0px;
    font-size: 16px;
    font-family: "Noto Sans KR", "Malgun Gothic", "MalgunGothic", Dotum, Helvetica, Arial, sans-serif;
}
#product-info-wrapper {
    font-weight: lighter;
}
a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1023px) {
    #header-wide,
    #menubar-wide,
    #button-wrapper-wide,
    #sidebar,
    #filter-wide {
        display: none;
    }
    #page {
        position: relative;
    }
    #header-wrapper {
        width: 100%;
        height: 20%;
        margin: 10px;
    }
    #button-wrapper {
        float: right;
        padding: 5px 20px;
        display: flex;
    }
    #cart,
    #search,
    #menu {
        margin-left: 20px;
    }
    #menubtn {
        border: none;
        background-color: white;
    }
    #menu:hover > #menubar {
        display: visible;
    }

    #cart,
    #search {
        padding-top: 4px;
    }
    #menubar {
        top: 0;
        right: 0;
        border: 2px solid blueviolet;
        width: 300px;
        height: 1500px;
        overflow: scroll;
        position: absolute;
        display: none;
    }
    #category-nav {
        width: 100%;
        margin-top: 25px;
    }
    #category-name {
        padding: 10px;
        width: 80%;
        margin-top: 0px;
        font-size: 1.3rem;
    }
    #filter {
        width: 20%;
        float: right;
        text-align: right;
        padding-right: 20px;
    }
    #products-wrapper {
        padding: 15px 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #product {
        padding-right: 3px;
        width: 49%;
        height: 30%;
    }
    #product-info-wrapper {
        padding: 0px 5px;
        margin-bottom: 60px;
    }
    #product-name {
        font-size: 0.9rem;
    }
    #product-tag {
        font-size: 0.9rem;
        color: gray;
    }
    #product-color {
        font-size: 0.9rem;
        color: gray;
    }
    #product-price {
        font-size: 0.9rem;
    }
    #post-wrapper {
        margin: 20px;
    }
    .vid_poster {
        width: 100%;
    }
    #post1 {
        font-weight: lighter;
        text-align: center;
    }
}
