body {
    overflow-x: hidden;
    margin: 0px;
    font-size: 16px;
    font-family: "Noto Sans KR", "Malgun Gothic", "MalgunGothic", Dotum, Helvetica, Arial, sans-serif;
}
#product-info-wrapper {
    font-weight: lighter;
}
a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1023px) {
    #header-wide,
    #menubar-wide,
    #button-wrapper-wide,
    #sidebar,
    #filter-wide {
        display: none;
    }
    #header-wrapper {
        width: 100%;
        height: 20%;
        margin: 10px;
    }
    #button-wrapper {
        float: right;
        padding: 5px 20px;
    }
    #menubar {
        width: 80%;
        display: none;
    }
    #category-nav {
        width: 100%;
        margin-top: 25px;
    }
    #category-name {
        padding: 10px;
        width: 80%;
        margin-top: 0px;
        font-size: 1.3rem;
    }
    #filter {
        width: 20%;
        float: right;
        text-align: right;
        padding: 10px;
    }
    #products-wrapper {
        padding: 15px 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #product {
        padding-right: 3px;
        width: 49%;
        height: 30%;
    }
    #product-info-wrapper {
        padding: 0px 5px;
        margin-bottom: 60px;
    }
    #product-name {
        font-size: 0.9rem;
    }
    #product-tag {
        font-size: 0.9rem;
        color: gray;
    }
    #product-color {
        font-size: 0.9rem;
        color: gray;
    }
    #product-price {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 1024px) {
    #header,
    #menubar,
    #button-wrapper,
    #filter {
        display: none;
    }
    #header-wrapper {
        width: 100%;
    }
    #header-wide {
        background-color: rgb(241, 241, 241);
        display: flex;
        height: 35px;
    }
    #logomenu-wrapper {
        margin: 0px 20px;
        margin-right: auto;
    }
    #textmenu-wrapper {
        margin-top: 2px;
        margin-right: 30px;
    }
    #textmenu {
        padding: 4px;
        font-weight: lighter;
        font-size: 0.7rem;
    }
    #header-wrapper-wide {
        display: flex;
        margin-bottom: 40px;
    }
    #logo {
        margin: 10px 35px;
    }
    #menubar-wide {
        margin: auto;
    }
    #menu {
        padding: 0px 10px;
    }
    #button-wrapper-wide {
        margin-right: 30px;
    }
    #category-nav {
        display: flex;
        margin-left: 35px;
    }
    #category-name {
        margin-right: auto;
        padding: 10px;
        width: 80%;
        font-size: 1.3rem;
    }
    #filter-wide {
        padding: 10px;
        margin-right: 30px;
    }
    #content {
        margin: 20px 10px;
        display: flex;
    }
    #sidebar {
        margin-left: 35px;
        width: 100%;
        height: 100%;
    }
    #body-wrapper {
        margin-left: 30px;
    }
    #products-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #product {
        padding: 5px;
        width: 32%;
        height: 30%;
    }
    #product-info-wrapper {
        padding: 0px 5px;
        margin-bottom: 60px;
    }
    #product-info-wrapper-wide {
        width: 70%;
    }
    #product-name {
        font-size: 1rem;
    }
    #product-tag {
        font-size: 1rem;
        color: gray;
    }
    #product-color {
        font-size: 1rem;
        color: gray;
    }

    #product-price-wrapper-wide {
        width: 35%;
        font-size: 1rem;
        float: right;
        text-align: right;
        margin-top: -70px;
    }
}
